@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayLight.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 700;
    color: black;
    transition: all ease 10s;
    position: relative;
    font-size: 17px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3{
    display: none;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2vw;
}

#left h3{
   width: 30vw;
   font-size: 1.8vw;
   line-height: 2vw;
   font-weight: 600;
}

#center h1{
    font-size: 10vw; 
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
    position: relative;
}

#hero-shape{
    height:36vw;
    width: 46vw;
    right: 0;
    top: 75vh;
    position: absolute;
}

#hero-1{
    filter: blur(10px);
    position: absolute;
    background-color:  #fe320a;
    height:100%;
    width:100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#hero-2{
    filter: blur(30px);
    position: absolute;
    background:linear-gradient( #fe320a,rgb(255, 136, 0));
    height:30vw;
    width:30vw;
    border-radius: 50%;
    animation-name: anime2;
    animation-duration:1.5s ;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
#hero-3{
    filter: blur(35px);
    position: absolute;
    background:linear-gradient( #fe320a,rgb(255, 111, 0));
    height:30vw;
    width:30vw;
    border-radius: 50%;
    animation-name: anime1;
    animation-duration:2s ;
    animation-timing-function: linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1{
    from{
      transform: translate(55%,-20%);
    }
    to{
        transform: translate(0%,10%);  
    }
}
@keyframes anime2{
    from{
      transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);  
    }
}


#page2{
    min-height: 100vh;
    width: 100%;
    padding-top: 2vw;
    position: relative;
    background-color: #fff;

}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-duration: 10.5s;
    animation-name: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}


#gola{
    height: 60px;
    width: 60px;
    background-color: #fe320a;
    border-radius: 50%;
    display: inline-block;
    margin:1vw 2vw ;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
 
#page2-bottom{
   min-height: 110vh; 
    width: 100%;
    padding: 3.5vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1{
    font-size: 3vw;
    width: 60%;
}

#bottom-part2{
    width: 25%;
    /* background-color: aquamarine; */
   
}

#bottom-part2 img{
    width: 100%;
    border-radius: 12px;

}

#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey{
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 25%;
  background:linear-gradient(to top right,#fe320a,rgb(255, 128, 0));
  filter: blur(20px); 
  
  animation-name: gooey;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes gooey {
    from{
        transform: translate(8%, -8%) skew(0);
    }

    to{
        transform: translate(-8%, 8%) skew(-5deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    /* padding: 4vw 0; */
    border-color: white;
    /* transition: none; */
    /* border-radius: none; */
    /* margin-top: 8vw; */
  
}

.elem{
    height: 150px;
    width: 100%;
    position: relative;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;

}

.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
background-color: orange;
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: -100%;
transition:all ease 0.3s;
}

.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 30vw;
    /* background-color: red; */
    border: 2px solid gray;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%; 
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 80vh;
    width: 100%;
    background-color: #fff;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    padding-left: 1vw;
    text-align: center;
    font-size: 18px;
    background: #575454a6;
    display: flex;
    border-left: 1px solid rgb(194, 187, 187) ;
    justify-content: center;
    align-items: center;
  }

#page5{
    height: 100vh;
    width: 100%; 
    /* background-color: black; */
    /* display:flex;
    justify-content: flex-end; */
}

/* #footer{
    height:100vh;
    width:100%;
    bottom: 0;
    position: fixed;
    z-index: 9;

    align-items: flex-end;

    background-color: black;
}

#footer h1{
  
    font-size: 26vh;
    color: white;
}

#footer-div{
    height: 20vh;
    width: 100%;
    background-color: #fe320a;
  

 #footer-bottom{
    height:10vh;
    width: 100%;

    border-top: 1px solid gray;
} */

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items:center;
    
    justify-content: space-between;
}

#footer-div h1{
    /* align-items: center; */
    font-size: 2vw;
    padding-left:2vw ;
    padding-top:0.5vw;

}

#footer-div p{
    /* align-items: center; */
    font-size: 1.6vw;
    padding-right:2vw ;

}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr{
    height:100vh;
    width:100%;
    background-color: #00000070;
    position:fixed;
    top:-100%;
    z-index:99;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

@media (max-width:600px){
    #page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0 0;
    }
    
    nav {
        padding: 8vw 5vw;
        background-color: #fff;
    }

    nav img{
        height:9vh;
        transition: all ease 0.3s;
    }
    
    #nav-part2 {
        display: none;
    }

    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #b1afaf;
        border-radius: 50px ;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 8vw;
    }

    #center{
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        padding: 7vw 5vw ;
        position: relative;
        z-index: 9;

    }
    
    #left h3{
       width: 80%;
       font-size: 5.5vw;
       line-height: 6vw;
       font-weight: 600;
    }
    
    #center h1{
        font-size: 17vw; 
        text-align: right;
        line-height: 15vw;
    }
    
    #page1 video{
        border-radius: 20px;
        height:70vh;
        object-fit: cover;
        object-position: center;
        margin-top: 4vw;
        width: 92%;
        margin-left: 4%;
        position: relative;
    }
    
    #hero-shape{
        height:82vw;
        width: 76vw;
        right: 0;
        top: 75vh;
        position: absolute;
    }
    
    #hero-1{
        filter: blur(10px);
        position: absolute;
        background-color:  #fe320a;
        height:100%;
        width:100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    #hero-2{
        filter: blur(30px);
        position: absolute;
        background:linear-gradient( #fe320a,rgb(255, 136, 0));
        height:30vw;
        width:30vw;
        border-radius: 50%;
        animation-name: anime2;
        animation-duration:1.5s ;
        animation-timing-function: linear;
        animation-direction:alternate;
        animation-iteration-count: infinite;
    }
    #hero-3{
        filter: blur(35px);
        position: absolute;
        background:linear-gradient( #fe320a,rgb(255, 111, 0));
        height:30vw;
        width:30vw;
        border-radius: 50%;
        animation-name: anime1;
        animation-duration:2s ;
        animation-timing-function: linear;
        animation-direction:alternate;
        animation-iteration-count: infinite;
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        padding-top: 2vw;
        position: relative;
        background-color: #fff;
    
    }
    #moving-text{
        white-space: nowrap;
        overflow-x: auto;
    }
    
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-duration: 10.5s;
        animation-name: move;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #moving-text h1{
        font-size: 15vw;
        display: inline-block;
    }
    
    
    #gola{
        height: 25px;
        width: 25px;
        background-color: #fe320a;
        border-radius: 50%;
        display: inline-block;
        margin:2vw 2vw ;
    }

    #page2-bottom{
        min-height: 110vh; 
         width: 100%;
         padding: 10vw 4vw ;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         position: relative;
         flex-direction: column;
         z-index: 9;
     }
     
     #page2-bottom h1{
         font-size: 8.5vw;
         width: 100%;
         line-height: 9vw;
     }
     
     #bottom-part2{
         width: 80%;
         /* background-color: aquamarine; */
        
     }
     
     #bottom-part2 img{
         width: 100%;
         border-radius: 10px;
     
     }
     
     #bottom-part2 p{
         font-weight: 100;
         margin-top: 2vw;
         font-size: 3vw;
     }
     
     #page2 #gooey{
       height: 62vw;
       width: 62vw;
       position: absolute;
       border-radius: 50%;
       top: 50%;
       left: 25%;
       background:linear-gradient(to top right,#fe320a,rgb(255, 128, 0));
       filter: blur(20px); 
       
       animation-name: gooey;
       animation-duration: 10s;
       animation-timing-function: ease-in-out;
       animation-direction: alternate;
       animation-iteration-count: infinite;
     }
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index:999;
    top:0;
    position: fixed;
    transition:all ease 1.1958s;
    display: flex;
    align-items: center;
    justify-content: center;

}

#loader h1{
    font-size: 5vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
  -webkit-background-clip:text;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes loader{
    0%{
      opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}

